*{
    overflow: hidden;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
    font-size:20px;
}

**:root{
    overflow: hidden;
}

html{
    background-color: black;
}

body{
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url(../imagens/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    -webkit-box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:4px 4px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow:4px 4px 8px 0px rgba(50, 50, 50, 0.75);
}

button:focus{
    outline: 0;
}

.esconder{
    display: none;
}

.slide-up{
    transform: translateY(-90vh);
    transition: transform 1s ease-in;
}


.logo{
    width: 600px;
    margin-bottom: 130px;
    z-index: 0;
}

.logo-iniciar{
    width: 350px;
    margin-bottom: 500px;
    margin-left: 40%;
    transition: margin-bottom 1s ease-out, margin-left 1s ease-out, width 1s ease-out;
}

.menu{
    background-position-y: bottom;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    width: 100%;
    height: 150px;
    background-size: initial;
    background-repeat: repeat-x;
    background-image: url(../imagens/dinheiro3.png);
}

.menu button{
    margin: 0 3%;
    padding: 7px;
    background-color:blanchedalmond;
    color:darkolivegreen;
    border: 2px solid darkolivegreen;
    border-radius: 10px;
}

.menu button:hover{
    background-color:rgb(243, 196, 130);
    cursor: pointer;
}

.menu button:active{
    background-color:rgb(236, 209, 172);
    cursor: pointer;
}

.menu-iniciar{
    transform: translateY(100%);
    opacity: 0; 
    transition: transform 1.5s ease-out, opacity 1.5s ease-out;
 }

 .quiz{
    position: absolute;
    left: -40vw;
    opacity: 0.3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 40vw;
    background-color:#ecffd9;
    z-index: 2;
 }

 .quiz h2{
     font-weight: normal;
     font-size: 25px;
     font-family: 'Raleway';
     margin-bottom: 10px;
 }

 .quiz-conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
 }

 .pergunta{
    -webkit-box-shadow: 1px 5px 16px 3px rgba(0,0,0,0.44); 
    box-shadow: 1px 5px 16px 3px rgba(0,0,0,0.44);
     padding: 5%;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     position: absolute;
     top: 0;
     height: 30%;
     color: #000015;
     background-color: #d9ffb2;
 }

 .respostas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 30vh;
    height: 70vh;
 }

 .opcoes{
     display:flex;
     align-items: center;
 }

 .opcoes .opcao{
    padding: 10px;
    width: 15vw;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
 }

 .respostas button{
    -webkit-box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:4px 4px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow:4px 4px 8px 0px rgba(50, 50, 50, 0.75);
    border: 0;
    padding: 5px;
    border-radius: 10px;
    width:80%;
    background-color: #defdbf;
 }

 .respostas button p{
     font-weight: normal;
 }

 .respostas button:hover{
     cursor: pointer;
     background-color: rgb(159, 235, 135);
 }


.respostaCerta{
    background-color: green!important;
}

.respostas p{
    font-family: 'Raleway';
    font-weight: 500;

}

.respostaErrada{
    background-color: red!important;
}

.quiz-iniciar{
    transform: translateX(100%);
    opacity: 1;
    transition: transform 1s ease-in, opacity 1s ease-in;
}

.game-over{
    -webkit-box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:4px 4px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow:4px 4px 8px 0px rgba(50, 50, 50, 0.75);
    position: absolute;
    padding: 5%;
    bottom: -80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 80vh;
    background-color: rgb(237, 240, 248);
    border-radius: 10px;
}

.game-over p{
    line-height: 30px;
    font-weight: normal;
    font-size: 25px;
}

.game-over img{
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

.game-over button {
    display: flex;
    align-items: center;
    font-size: 20px;
    border: 0;
    border-bottom: 5px solid rgb(165, 211, 211) ;
    background-color: rgb(184, 223, 223);
    border-radius: 5px;
    padding: 5px;
}

.game-over i{
    margin-left: 7px;
}

.game-over button:hover{
    cursor: pointer;
    background-color: rgb(146, 224, 224);
}

.pontos{
    border-radius: 5px;
    background-color: transparent;
    position: absolute;
    bottom: -40%;
    right: 10%;
    width: 40%;
    height: 40%;
}

.pontos-iniciar{
    transform: translateY(-60vh);
    transition: transform 1s ease-in;
}

.pontos-principais{
    line-height: 30px ;
    font-family: 'Raleway';
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    width: 100%;
    height: 55%;
    background-color: #FFFF50;
}

.pontos-principais div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pontos p {
    font-size: 1.2em;
    margin-top: 0.2em;
}

.pontos-secundarios{
    line-height: 18px;
    font-weight: 500;
    border-radius: 5px;
    font-family: 'Raleway';
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    height: 40%;
}

.pontos-secundarios div{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #FFFF50;
    height: 100%;
    width: 49%;
}

@media screen and (max-width: 768px){
    .logo-iniciar{
        display: none;
    }
    .pontos-iniciar{
        display: none;
    }
    .quiz{
        left: -100vw;
    }
    .quiz-iniciar{
        width: 100%;
    }
    .opcoes .opcao{
     width: 40vw;   
    }
}

@media screen and (max-width: 400px){
    .game-over img{
        width: 200px;
        height: 200px;
    }
}